<div class="model-content-wrapper">
    <div class="model-title">
        <h6 *ngIf="discount;else elseBlockShow">UPDATE DISCOUNT</h6>
        <ng-template #elseBlockShow>ADD DISCOUNT</ng-template>
        <button type="button" class="btn btn-close" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="faCross" class=" d-flex mb-auto mt-auto " style="color: #f1f1f1 ">
            </fa-icon>
        </button>
    </div>
    <div>
        <app-loading></app-loading>
        <form [formGroup]="addDrawerForm" (ngSubmit)="onSubmit()">
            <div class="form-group required ms-0">
                <label class="control-label">Name</label>
                <input type="limit" class="form-control form-control-sm" 
                    formControlName="name" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('drawerNo')">
                    Please Enter Name
                </div>
            </div>
            <div class="form-group required ms-0">
                <label class="control-label">Percentage</label>
                <input type="number" class="form-control form-control-sm" 
                    formControlName="presentage" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('description')">
                    Please Enter Presentage
                </div>
            </div>
            <div class="form-group required ms-0">
                <label class="control-label">Reduce From</label>
                <input type="limit" class="form-control form-control-sm" 
                    formControlName="reduceFrom" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('pcName')">
                    Please Enter Reduce From
                </div>
            </div>
            <div class="submit-button">
                <button [disabled]="!addDrawerForm.valid" class="btn btn-reusable w-100" type="submit"> CONFIRM
                </button>
            </div>
        </form>
    </div>

</div>