<div class="col content mr-2">
    <div class="col first-row " style="width: 77vh">
        <div class="section-title">
            <div class="title">
                <div class="row  ms-0">
                    <table>
                        <tr>
                            <th><h6>ADD DOCTOR</h6></th>
                            <th><p class="title-sub mt-3 me-lg-5">Payment Details</p></th>
                            <th>
                                <div class="col">
                                    <button type="button" class="btn btn-close ">
                                        <fa-icon [icon]="faCross" class=" d-flex mb-auto mt-auto "
                                                 style="color: #f1f1f1 "></fa-icon>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <p class="title-sub ms-0 mb-lg-5">Channeling</p>
                </div>
                <form>
                    <table>
                        <tr>
                            <th>
                                <div class="col mb-lg-5 form-group required">
                                    <label class="cs-name control-label">Channeling Doctor Fee(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-5 form-group required">
                                    <label class="cs-name control-label">Channeling Hospital Fee(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-5 form-group required">
                                    <label class="cs-name control-label">Channeling Cash Pay Discount(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="input-group mb-lg-5 form-group required">
                                    <label class="cs-name control-label mb-1">Other Services</label>
                                    <input type="limit" class="form-control form-control-sm">
                                    <div class="input-group-append">
                                        <button class="btn btn-blue-add" type="button" style="color: #f1f1f1">ADD
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="col mb-lg-4 form-group required">
                                    <label class="cs-name control-label">Scanning Doctor Fee(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-4 form-group required">
                                    <label class="cs-name control-label">Scanning Hospital Fee(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-4 form-group required">
                                    <label class="cs-name control-label">Scanning Cash Pay Discount(Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="col mb-lg-5 form-group required">
                                    <label class="cs-name control-label">EEG Doctor Fee (Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-5 form-group required">
                                    <label class="cs-name control-label">EEG Hospital Fee (Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                            <th>
                                <div class="col ms-0 mb-lg-5 form-group required">
                                    <label class="cs-name control-label">EEG Cash Pay Discount (Rs.)</label>
                                    <input type="limit" class="form-control calendar form-control-sm cs-name"
                                           placeholder="750" style="width: 110px">
                                </div>
                            </th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>
                                <div class="row mb-lg-4 ms-0">
                                    <button class="btn btn-back" style="width: 200px">BACK</button>
                                </div>
                            </th>
                            <th>
                                <div class="row mb-lg-4 ms-4">
                                    <button class="btn btn-reusable" style="width: 200px">NEXT</button>
                                </div>
                            </th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>