<div class="model-content-wrapper">
    <div class="model-title">
        <h6 *ngIf="drawer;else elseBlockShow">UPDATE DRAWER</h6>
        <ng-template #elseBlockShow>ADD DRAWER</ng-template>
        <button type="button" class="btn btn-close" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="faCross" class=" d-flex mb-auto mt-auto " style="color: #f1f1f1 ">
            </fa-icon>
        </button>
    </div>
    <div>
        <app-loading></app-loading>
        <form [formGroup]="addDrawerForm" (ngSubmit)="onSubmit()">
            <div class="form-group required ms-0">
                <label class="control-label">Drawer No</label>
                <input type="limit" class="form-control form-control-sm" [attr.disabled]="drawer!==undefined ? '' : null"placeholder="Enter the Drawer No"
                    formControlName="drawerNo" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('drawerNo')">
                    Please Enter Drawer No
                </div>
            </div>
            <div class="form-group required ms-0">
                <label class="control-label">Description</label>
                <input type="limit" class="form-control form-control-sm" placeholder="Enter the Description"
                    formControlName="description" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('description')">
                    Please Enter Description
                </div>
            </div>
            <div class="form-group required ms-0">
                <label class="control-label">Pc Name</label>
                <input type="limit" class="form-control form-control-sm" placeholder="Enter the Pc Name"
                    formControlName="pcName" style="width: 427px">
                <div class="form-error-message" *ngIf="isInvalid('pcName')">
                    Please Enter Pc Name
                </div>
            </div>
            <div class="submit-button">
                <button [disabled]="!addDrawerForm.valid" class="btn btn-reusable w-100" type="submit"> CONFIRM
                </button>
            </div>
        </form>
    </div>

</div>