.card-body {
    cursor: pointer;
    background: var(--div-background-color);
    box-shadow: 0px 0px 2.24491px rgba(122, 122, 122, 0.25);
    border-radius: 4px;
    height: 100%;
    width: 13rem;

    .card-text-user {
        height: 16.3px;
        text-align: end;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        text-transform: uppercase;
        color: #7a7a7a;
    }

    .card-text-active {
        height: 16.3px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13.9681px;
        line-height: 16px;
        /* identical to box height */
        text-transform: uppercase;
        color: var(--text-color-gray);
    }
    .card-text-time {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: var(--text-color-gray);
    }
    .card-text-date {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 24px;
        font-weight: 700;
        color: var(--text-color-gray);
        span {
            font-size: 24px;
            font-weight: 400;
            color: var(--text-color-gray);
        }
    }

    .btn-primary-plus {
        height: 27.16px;
        background: var(--button-gradient-green);
        box-shadow: 0px 0px 19.4001px rgba(215, 215, 215, 0.28);
        border-radius: 3.10402px;
    }
    .fa-icon-plus {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        /* identical to box height */
    }
}

.card-body-selected {
    background: var(--button-gradient-purple) !important;
    color: var(--text-color-white) !important;
    cursor: pointer;
    border-radius: 4px;
    p {
        color: var(--text-color-white) !important;
    }
    span {
        color: var(--text-color-white) !important;
    }
}
