<div class="admin-side-bar-wrapper">
    <ul>
        <li routerLink="/admin/home" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconDoctor"></fa-icon></span>Doctors</li>
        <li routerLink="/admin/users" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconUsers"></fa-icon></span>Users</li>
        <li routerLink="/admin/employees" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconEmployees"></fa-icon></span>Employees</li>
        <li routerLink="/admin/reports" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconReports"></fa-icon></span>Reports</li>
        <li routerLink="/admin/discounts" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconDiscount"></fa-icon></span>Discounts</li>
        <li routerLink="/admin/drawers" routerLinkActive="active"><span class="icon"><fa-icon [icon]="iconDrawer"></fa-icon></span>Drawers</li>
    </ul>
</div>