<div class="model-content-wrapper">
    <app-loading></app-loading>
    <div class="model-title">
        <div class="titles"><label class="main-title">{{isUpdate?"Edit Doctor":"Add Doctor"}}</label><label class="sub-title">{{steps[currentStep].label}}</label></div>
        <button type="button" class="btn btn-close" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="faCross" class=" d-flex mb-auto mt-auto " style="color: #f1f1f1 ">
            </fa-icon>
        </button>
    </div>
    <div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-add-doctor-personal-details-form *ngIf="currentStep === 0" [formGroup]="currentGroup">
            </app-add-doctor-personal-details-form>
            <app-add-doctor-payment-details-form *ngIf="currentStep === 1" [formGroup]="currentGroup" [services]="doctor?.services || []" (onAddService)="onAddService($event)">
            </app-add-doctor-payment-details-form>
        </form>
    </div>
    <div class="d-flex" style="margin-top: 60px; justify-content: space-between;" >
        <div class="button-back w-50 me-2" *ngIf="currentStep === 1" (click)="prev()" ><button>BACK</button></div>
        <div class="button-next w-100"  *ngIf="currentStep === 0" (click) ="next()"><button>NEXT</button></div>
        <div class="button-next w-50 ms-2" *ngIf="currentStep === 1" (click)="onSubmit()"><button>CONFIRM</button></div>
    </div>
</div> 
