.form-control {
  border-radius: 4px;
  border: var(--button-border);
  height: 30px;
  max-width: 550px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
}

.btn-primary-cl {
  width: 48px;
  height: 30px;

  background: linear-gradient(106.57deg, #40dcb1 0%, #41dc80 100%);
  border-radius: 3px;
}

.btn-primary:focus {
  box-shadow: none;
}

.text {
  font-size: 13px;
  color: #9ca1a4;
}
